* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  font-family: 兰亭黑;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
}
a {
  -webkit-tap-highlight-color: transparent;
}
body {
  font-size: 0.37333333rem;
}
.explain-title {
  font-size: 0.45333333rem;
  color: #333333;
  height: 1.33333333rem;
  width: 100vw;
  padding-left: 0.26666667rem;
  padding-right: 0.26666667rem;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.explain-list-li {
  width: 100vw;
  border-top: 1px solid #efeff4;
  -webkit-border-top: 1px solid #efeff4;
  -moz-border-top: 1px solid #efeff4;
  -o-border-top: 1px solid #efeff4;
  display: table-cell;
  vertical-align: middle;
  padding: 0.33333333rem;
}
.list-li label {
  float: right;
}
.fr {
  float: right;
}
.list-li .p1 {
  font-size: 0.45333333rem;
  color: #4a90e2;
}
.list-li .p2 {
  font-size: 0.34666667rem;
  color: #9a9a9a;
}
.list-li span {
  font-size: 0.45333333rem;
  color: #4a90e2;
}
.explain-content {
  height: 15.73333333rem;
  padding-bottom: 1.33333333rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none;
  position: relative;
  z-index: 1;
}
.dis-kong {
  height: 1.65333333rem;
  width: 100vw;
}
.dropload-load {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: white;
  text-align: center;
  font-size: 0.45333333rem;
  color: #9a9a9a;
}
.dropload-load .loading {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  margin: 6px;
  border: 2px solid #666;
  border-bottom-color: transparent;
  vertical-align: middle;
  -webkit-animation: rotate 0.75s linear infinite;
  animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
[v-cloak] {
  display: none;
}
