@font-face {
  font-family: 'iconfont';  /* project id 260488 */
  src: url('//at.alicdn.com/t/font_260488_uq171nj80t5d0a4i.eot');
  src: url('//at.alicdn.com/t/font_260488_uq171nj80t5d0a4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_260488_uq171nj80t5d0a4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_260488_uq171nj80t5d0a4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_260488_uq171nj80t5d0a4i.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menpiao:before { content: "\e604"; }

.icon-youxiang:before { content: "\e60f"; }

.icon-yonghu:before { content: "\e628"; }

.icon-jifeileixing:before { content: "\e622"; }

.icon-yucunkuan:before { content: "\e60b"; }

.icon-phone:before { content: "\e60e"; }

.icon-close:before { content: "\e654"; }

.icon-qq-copy:before { content: "\e62b"; }

.icon-gerenzhongxin:before { content: "\e60a"; }

.icon-tuichu-copy:before { content: "\e623"; }

.icon-wodehuodong:before { content: "\e611"; }

.icon-zhanghuguanli:before { content: "\e624"; }

.icon-feiyong:before { content: "\e698"; }

.icon-tongzhi:before { content: "\e678"; }

.icon-weixin1:before { content: "\e620"; }

.icon-dizhi:before { content: "\e616"; }

.icon--fuxuankuang:before { content: "\e645"; }

.icon--fuxuankuang1:before { content: "\e603"; }

.icon-dianhua:before { content: "\e600"; }

