/*****select*****/
.m-select{height: 39px; border: 1px solid #ddd;width: 200px;background-color: #F0F0F0; position: relative;}
.m-select>.s-select{height: 39px;line-height: 39px;font-size: 12px;position: relative;color:#4a4a4a;
    padding-left: 20px;text-align: left;}
.m-select>.s-select:hover{cursor: pointer;}
.m-select>.s-select>.s-value{}
.m-select>.s-select>.icon{position: absolute;width:0; height:0; border-left:8px solid transparent;
    border-right:8px solid transparent; border-top:8px solid #676767;top: 50%;
    margin-top: -4px; right:10px;  border-radius: 8px;}
.m-select>.s-ul{padding: 0px;margin: 0px;width: 100%;list-style-type: none;position: absolute;
    top: 39px;left: -1px; font-size: 12px;background-color: #fff; border: 1px solid #ddd;text-align: left;
    width: 200px;border-radius: 2px;z-index: 100;display: none;}
.m-select>.s-ul>.s-li{ height: 34px; line-height: 34px; padding-left: 20px; color:#333;border-bottom: 1px solid #ddd;text-align: left;}
.m-select>.s-ul>.s-li:last-child{border-bottom: none;}
.m-select>.s-ul>.s-li:hover{background-color: #F7F7F7;cursor: pointer;color:#49aecb;}